<header class="bg-green-800 p-4 h-20 flex flex-col justify-center text-white">
  <div class="flex flex-row justify-between">
    <p class="text-xl">Dave’s Lesbian Bar</p>
    <Navbar />
  </div>
</header>