<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src={{@audio.iframeUrl}}></iframe>
<div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
  <a href="https://soundcloud.com/user-875048658" title="kae bara kratcha" target="_blank" style="color: #cccccc; text-decoration: none;">kae bara kratcha</a>
  · <a href={{@audio.postUrl}} title={{@audio.title}} target="_blank" style="color: #cccccc; text-decoration: none;">{{@audio.title}}</a></div>
